/* CSS Variables */
:root {
  --white: #fff;
  --accent-blue: #965cf2;
  --accent-purple: #ff8adc;
  --accent-blue-light: #3e4794;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('../images/backcover.svg') no-repeat;
  background-position: top right;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px 0 100px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.nav-item {
  font-size: 18px;
}

.signin-btn {
  border: 0;
  padding: 5px 14px;
  border-radius: 12px;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--accent-blue) 0%,
    var(--accent-purple) 100%
  );
}

.nav-bars {
  display: none;
}

/* Hero Section */
.intro-section {
  display: flex;
  margin-left: 100px;
}

.left-section h1 {
  margin-top: 160px;
  font-size: 80px;
  color: var(--accent-blue-light);
}

.left-section h4 {
  margin: 50px 0;
  text-align: start;
  width: 350px;
  font-weight: normal;
}

.learn-more-btn {
  border: 0;
  font-size: 20px;
  background: linear-gradient(
    to right,
    var(--accent-blue) 0%,
    var(--accent-purple) 100%
  );
  padding: 15px 30px;
  color: var(--white);
  border-radius: 25px;
}

.imgs-div {
  position: relative;
}

.vector-dot {
  position: absolute;
}

/* Responsive */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .vector-dot,
  .vector-img {
    display: none;
  }

  .imgs-div > img:nth-of-type(3) {
    display: none;
  }

  .nav-items,
  .signin-btn {
    display: none;
  }

  .nav-bars {
    display: block;
    font-size: 20px;
  }

  body {
    background-image: url('../images/backcover.svg');
    background-position: top right;
    background-size: 450px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url('../images/backcover.svg');
    background-position: top right;
    background-size: 450px;
  }

  .nav-items,
  .signin-btn {
    display: none;
  }

  .nav-bars {
    display: block;
    font-size: 20px;
  }

  .left-section h1 {
    font-size: 40px;
  }

  .imgs-div {
    position: relative;
  }

  .vector-dot,
  .vector-img {
    display: none;
  }

  .imgs-div > img:nth-of-type(3) {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-image: url('../images/backcover.svg');
    background-position: top right;
    background-size: 600px;
  }

  .nav-items,
  .signin-btn {
    display: none;
  }

  .nav-bars {
    display: block;
    font-size: 20px;
  }

  .imgs-div > img:nth-of-type(3) {
    width: 300px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .imgs-div > img:nth-of-type(3) {
    width: 500px;
  }
}
